
<!DOCTYPE html>
<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<!--<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8"/>-->
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

<meta name="viewport" content="width=device-width,maximum-scale=1.0, minimum-scale=1.0">
   
<script src="/js/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/jquery-ui.min.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css">
</head>
<body style="background: #fff;">
<div id="line">
<div class="line-detail">
               <div class="line-detail-in">
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">莘庄</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">外环路</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station"  id="linc">
                      <span class="circle ln1"></span><a href="#">莲花路</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">锦江乐园</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">上海南站</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">漕宝路</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">上海体育馆</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">徐家汇</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">常熟路</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">陕西南路</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">黄陂南路</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="/station/toAddDetailPage" target="_top">人民广场</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">新闸路</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">汉中路</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">上海火车站</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">中山北路</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">延长路</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">上海马戏城</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">汶水路</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">彭浦新村</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">共康路</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">通河新村</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">呼兰路</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">共富新村</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">宝安公路
</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">友谊西路</a>
                      <span class="line ln1"></span>
                   </div>
                   <div class="line-station">
                      <span class="circle ln1"></span><a href="#">富锦路</a>
                   </div>
                   
<!--
                   <div class="cross">
                       <div class="line-station">
                          <span class="line-c ln1"></span>
                          <span class="circle ln1"></span><a href="#">衡山路</a>
                          <span class="line ln1"></span>
                       </div>
                   </div>
-->
               </div>
           </div>	
 </div>             
</body>
</html>  